html, .body {
    font-family: "Raleway";
    height: 100%;
    background-color: aliceblue;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recent-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    #recent-reviews {
        flex-direction: column;
    }
}

#recent-review-1, #recent-review-2, #recent-review-3 {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: #81c2e6;
}

#main-page-title {
    padding-top: 10px;
    margin-bottom: 0;
}

.search-container {
    display: flex;
    align-items: stretch;
}

#search-bar {
    border-radius: 5px;
    border-width: 1px;
}

#search-bar, #search-for-reviews {
    height: 100%;
}

#search-for-reviews {
    background-color: #81c2e6;
    margin-left: 15px;
}

.review-title {
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.review-text {
    height: 200px;
    width: auto;
}

#submit-review-rating {
    background-color: aliceblue;
    padding: 0;
    margin: 3px;
}

.current-rating {
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}