body {
    margin: 0;
    background-color: aliceblue;
}

#head-nav {
    background-color: #81c2e6;
}

#username {
    margin: 5px 0;
}

#password {
    margin: 5px 0;
}

#submit-button {
    background-color: aliceblue;
    margin: 5px 0px;
}

#logo {
    border-radius: 10%;
    width: 200px;
    height: auto;
}