html, body {
    font-family: "Raleway";
    height: 100%;
    background-color: aliceblue;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#head-nav {
    background-color: #81c2e6;
}

#username {
    margin: 5px 0;
}

#password {
    margin: 5px 0;
}

#submit-button {
    background-color: aliceblue;
    margin: 5px 0;
}

#logo {
    border-radius: 10%;
    width: 200px;
    height: auto;
}

#login-form {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

input#username,
input#password,
input#submit-button {
    background-color: aliceblue;
    margin-right: 10px;
}

#login-form .col-auto{
    margin-right: 0;
}

footer {
    background-color: #477ba8;
    display: flex;
    flex-direction: row;
}

#author {
    margin-left: 10px;
    margin-top: 5px;
}

#github {
    margin-left: auto;
    margin-top: 5px;
}

#github a {
    color: black;
    padding: 10px;
}

#generated-quote {
    text-align: left;
    font-style: italic;
    padding-left: 10px;
    padding-top: 20px;
}

#my-review {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: #81c2e6;
}

#title {
    font-size: 1.3em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
}

#review {
    border-radius: 5px;
    border-width: 1px;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 15px;
}

#save-review {
    background-color: aliceblue;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#search-bar {
    border-radius: 5px;
    border-width: 1px;
    width: 300px;
}

#search-bar, #search-for-reviews {
    height: 100%;
}

#search-for-reviews {
    background-color: #81c2e6;
    margin-left: 15px;
}