html, body {
    font-family: "Raleway";
    height: 100%;
    background-color: aliceblue;
    margin: 0;
}

main {
    flex-grow: 1;
}

#generated-quote {
    text-align: left;
    font-style: italic;
    padding-left: 10px;
    padding-top: 20px;
}

#my-review {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: #81c2e6;
}

#title {
    font-size: 1.3em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
}

#review {
    border-radius: 5px;
    border-width: 1px;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 15px;
}

#save-review {
    background-color: aliceblue;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#search-bar {
    border-radius: 5px;
    border-width: 1px;
    width: 300px;
}

#search-bar, #search-for-reviews {
    height: 100%;
}

#search-for-reviews {
    background-color: #81c2e6;
    margin-left: 15px;
}

#rating-label {
    font-style: italic;
}

#overall-rating {
    margin-bottom: 20px;
}

#reviews-container {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #81c2e6;
    background-color: #477ba8;

    display: flex;
    flex-direction: row;
}

.prev-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #81c2e6;
}

.prev-review-title, .prev-review-text, .prev-review-rating {
    flex: 1;
    margin-right: 10px;
}