html, body {
    font-family: "Raleway";
    height: 100%;
    background-color: aliceblue;
    margin: 0;
}

#generated-quote {
    text-align: left;
    font-style: italic;
}

#my-review {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: #81c2e6;
}

#title {
    font-size: 1.3em;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
    margin-bottom: 5px;
}

#review {
    border-radius: 5px;
    border-width: 1px;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 15px;

    height: 200px;
}

#rating-label {
    font-style: italic;
}

#save-review {
    background-color: aliceblue;
    margin-top: 5px;
}

#reviews-container {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #81c2e6;
    background-color: #477ba8;

    display: flex;
    flex-direction: row;
    max-width: 80%;
}

.prev-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #81c2e6;
}

.prev-review-title, .prev-review-text, .prev-review-rating {
    flex: 1;
}

.prev-review-text {
    margin-right: 30px;
}

@media (max-width: 1000px) {
    #reviews-container {
        flex-direction: column;
    }
}