html, body {
    height: 100%;
    margin: 0;
}

.body {
    font-family: "Raleway";
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    width: 100%;
}

.body > header, .body > footer {
    flex-shrink: 0;
}
  
.body > main {
    flex-grow: 1;
}

header {
    background-color: #81c2e6;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#logo {
    border-radius: 10%;
    width: 200px;
    height: auto;
    padding: 5px;
    justify-content: flex-start;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: #477ba8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#author {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

#github {
    margin-left: auto;
    margin-top: 10px;
    font-size: 20px;
}

#github a {
    color: black;
    padding: 10px;
}