.body {
    font-family: "Raleway";
    height: 100%;
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#head-nav {
    background-color: #81c2e6;
}

#username {
    margin: 5px 0;
}

#password {
    margin: 5px 0;
}

#submit-button {
    background-color: aliceblue;
    margin: 5px 0;
}

#logo {
    border-radius: 10%;
    width: 200px;
    height: auto;
}

footer {
    background-color: #477ba8;
    display: flex;
    flex-direction: row;
}

#author {
    margin-left: 10px;
    margin-top: 5px;
}

#github {
    margin-left: auto;
    margin-top: 5px;
}

#github a {
    color: black;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-page-title {
    padding-top: 10px;
    margin-bottom: 0;
}